
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.test-logo-css{
    height: 80px;
    width: 120px;
}

  
  .tab {
    cursor: pointer;
  }
  
  .tab:hover {
    background-color: #ccc;
  }
  
  .tab-content {
    display: none;
  }
  
  .tab-content.show {
    display: flex;
  }
  

  /* for star rating  */

  .star_rating {
    display: inline-block;
    position: relative;
  }



.rating_label {
    cursor: pointer;
    width: 26px;
    height: 26px;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 33px; 
}


.rating_input:checked ~ label  {
    color: #fdd835; /* Change color for selected stars */
}

